<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>angle</key>
    <integer>0</integer>
    <key>angleVariance</key>
    <real>180.37</real>
    <key>blendFuncDestination</key>
    <integer>1</integer>
    <key>blendFuncSource</key>
    <integer>775</integer>
    <key>duration</key>
    <real>0.05</real>
    <key>emitterType</key>
    <integer>0</integer>
    <key>emissionRate</key>
    <integer>2500</integer>
    <key>finishColorAlpha</key>
    <integer>0</integer>
    <key>finishColorBlue</key>
    <integer>1</integer>
    <key>finishColorGreen</key>
    <integer>1</integer>
    <key>finishColorRed</key>
    <integer>1</integer>
    <key>finishColorVarianceAlpha</key>
    <integer>0</integer>
    <key>finishColorVarianceBlue</key>
    <integer>0</integer>
    <key>finishColorVarianceGreen</key>
    <integer>0</integer>
    <key>finishColorVarianceRed</key>
    <integer>0</integer>
    <key>rotationStart</key>
    <integer>120</integer>
    <key>rotationStartVariance</key>
    <integer>0</integer>
    <key>rotationEnd</key>
    <integer>0</integer>
    <key>rotationEndVariance</key>
    <integer>0</integer>
    <key>finishParticleSize</key>
    <integer>120</integer>
    <key>finishParticleSizeVariance</key>
    <integer>0</integer>
    <key>gravityx</key>
    <integer>0</integer>
    <key>gravityy</key>
    <integer>0</integer>
    <key>maxParticles</key>
    <integer>500</integer>
    <key>maxRadius</key>
    <integer>0</integer>
    <key>maxRadiusVariance</key>
    <integer>0</integer>
    <key>minRadius</key>
    <integer>0</integer>
    <key>minRadiusVariance</key>
    <integer>0</integer>
    <key>particleLifespan</key>
    <real>0.2</real>
    <key>particleLifespanVariance</key>
    <real>0.5</real>
    <key>radialAcceleration</key>
    <integer>0</integer>
    <key>radialAccelVariance</key>
    <integer>50</integer>
    <key>rotatePerSecond</key>
    <integer>0</integer>
    <key>rotatePerSecondVariance</key>
    <integer>0</integer>
    <key>sourcePositionVariancex</key>
    <integer>10</integer>
    <key>sourcePositionVariancey</key>
    <integer>10</integer>
    <key>speed</key>
    <integer>600</integer>
    <key>speedVariance</key>
    <integer>150</integer>
    <key>startColorAlpha</key>
    <integer>1</integer>
    <key>startColorBlue</key>
    <integer>1</integer>
    <key>startColorGreen</key>
    <integer>1</integer>
    <key>startColorRed</key>
    <integer>1</integer>
    <key>startColorVarianceAlpha</key>
    <integer>0</integer>
    <key>startColorVarianceBlue</key>
    <integer>0</integer>
    <key>startColorVarianceGreen</key>
    <integer>0</integer>
    <key>startColorVarianceRed</key>
    <integer>0</integer>
    <key>startParticleSize</key>
    <integer>30</integer>
    <key>startParticleSizeVariance</key>
    <integer>0</integer>
    <key>tangentialAcceleration</key>
    <integer>50</integer>
    <key>tangentialAccelVariance</key>
    <integer>500</integer>
    <key>spriteFrameUuid</key>
    <string>cb5bb369-707d-415f-9531-f00b491b8051</string>
  </dict>
</plist>